.wallet {
    &__header {
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);
        position: sticky;
        
    }
    &__title {
        padding: 0.5em 1em;
        padding-left: 2em;
    }
}

.loading {
    text-align: center;
    margin-top: 100px;
    color: #aaa;
    font-weight: 400;
}